OPENAI_API_KEY = ""
# Cohere
COHERE_API_KEY = ""
# OpenRouter
OR_SITE_URL = ""
AZURE_API_BASE = ""
AZURE_API_VERSION = ""
# Azure API key
AZURE_API_KEY = ""
REPLICATE_API_KEY = ""
REPLICATE_API_TOKEN = ""
# Infisical
INFISICAL_TOKEN = ""

LITELLM_MASTER_KEY = "sk-1234"